.round-button {
  float: right;
	width:70px;
  margin-left: 25px;
}
.round-button-circle {
  /*  margin-left: 30px; */
	width: 100%;
	height:0;
	padding-bottom: 100%;
  border-radius: 50%;
  overflow:hidden;
  background: #D8D8D8;
}
/*.round-button-circle:hover {
	background:#F0588e;
}*/
.round-button a {
  display:block;
	/* float:left; */
	width:100%;
	padding-top:45%;
  padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;

	text-align:center;
	color: white;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}
